body {
  text-align: center;
  background-image: url(planetFaces.gif);
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #7286D3;
}

.green {
  background-color: #66BFBF;
}

.blue {
  background-color: #7F5283;
}

.yellow {
  background-color: #8D8DAA;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#audio-button {
  background-color: #333; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}